.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.question__topbar {
  display: flex;
  justify-content: space-between;
}
.question__timer__circle{
  display: inline-block;
  border: 2px solid black;
  border-radius: 22px;
  width: 40px;
  text-align: center;
  padding: 10px 10px;
  font-weight: bold;
}
